# Ignore everything by default and opt in only the source/test/docs files
*

!.gitignore
!README.md
!Makefile
!CMakeLists.txt
!release_version.sh
!buffer_api.c
!buffer_api.h
!buffer_array.c
!buffer_array.h
!buffer_list.c
!buffer_list.h
!buffer_log.h
!test.c
